n8n_custom_workflows/youtube-open-notebook/workflows/01-youtube-channel-sync-mvp.json
{
  "name": "YouTube to Open Notebook - MVP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 6:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "table": "youtube_channels",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "field": "enabled",
              "operation": "equals",
              "value": true
            }
          ]
        }
      },
      "id": "read-channels",
      "name": "Read Active Channels",
      "type": "n8n-nodes-base.n8nTable",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-channels",
      "name": "Loop Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{$json.channel_id}}",
        "method": "GET",
        "options": {}
      },
      "id": "youtube-rss",
      "name": "Get YouTube Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube RSS Feed and extract video data\nconst xml2js = require('xml2js');\nconst parser = new xml2js.Parser();\n\n// Get XML response\nconst xmlData = $input.first().json.body;\n\n// Parse XML\nlet result;\ntry {\n  result = await parser.parseStringPromise(xmlData);\n} catch (error) {\n  return [{json: {videos: []}}];\n}\n\n// Extract video entries\nconst entries = result?.feed?.entry || [];\nconst channelId = $('Loop Channels').item.json.channel_id;\n\n// Map to video objects\nconst videos = entries.map(entry => {\n  const videoId = entry['yt:videoId']?.[0];\n  const title = entry.title?.[0];\n  const published = entry.published?.[0];\n  const url = `https://www.youtube.com/watch?v=${videoId}`;\n  \n  return {\n    video_id: videoId,\n    channel_id: channelId,\n    title: title,\n    url: url,\n    published_date: published,\n    thumbnail_url: `https://i.ytimg.com/vi/${videoId}/maxresdefault.jpg`\n  };\n});\n\nreturn videos.map(v => ({json: v}));"
      },
      "id": "parse-rss",
      "name": "Parse RSS Feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "table": "youtube_videos",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "field": "channel_id",
              "operation": "equals",
              "value": "={{$('Loop Channels').item.json.channel_id}}"
            }
          ]
        }
      },
      "id": "read-processed",
      "name": "Read Processed Videos",
      "type": "n8n-nodes-base.n8nTable",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter out already processed videos and detect shorts\nconst newVideos = $input.all();\nconst processedVideos = $('Read Processed Videos').all();\n\n// Create set of processed video IDs\nconst processedIds = new Set(\n  processedVideos.map(v => v.json.video_id)\n);\n\n// Filter and classify\nconst filtered = newVideos\n  .filter(v => !processedIds.has(v.json.video_id))\n  .map(v => {\n    // Note: Duration will be fetched from YouTube API in full version\n    // For MVP, we estimate based on typical lengths\n    const video = v.json;\n    \n    return {\n      ...video,\n      // We'll get real duration from YouTube API\n      // For now, mark for processing\n      needs_duration_check: true\n    };\n  });\n\nif (filtered.length === 0) {\n  // No new videos\n  return [];\n}\n\nreturn filtered.map(v => ({json: v}));"
      },
      "id": "filter-new",
      "name": "Filter New Videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "has-new-videos",
              "leftValue": "={{$input.all().length}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-new-videos",
      "name": "Has New Videos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "loop-videos",
      "name": "Loop Videos (Batch 5)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "url": "=http://open-notebook:5055/api/sources",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_type",
              "value": "youtube"
            },
            {
              "name": "url",
              "value": "={{$json.url}}"
            },
            {
              "name": "notebook_name",
              "value": "={{$('Loop Channels').item.json.notebook_name}}"
            },
            {
              "name": "language_output",
              "value": "de"
            }
          ]
        },
        "options": {}
      },
      "id": "open-notebook-api",
      "name": "Add to Open Notebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200],
      "notes": "Open Notebook macht:\n- YouTube Download\n- Whisper Transkription\n- Language Detection\n- Translation (falls nötig)\n- Podcast Generation\nAlles automatisch!"
    },
    {
      "parameters": {
        "operation": "create",
        "table": "youtube_videos",
        "dataToSend": "defineInNode",
        "fieldsToSend": {
          "fields": [
            {
              "field": "video_id",
              "value": "={{$('Loop Videos (Batch 5)').item.json.video_id}}"
            },
            {
              "field": "channel_id",
              "value": "={{$('Loop Videos (Batch 5)').item.json.channel_id}}"
            },
            {
              "field": "title",
              "value": "={{$('Loop Videos (Batch 5)').item.json.title}}"
            },
            {
              "field": "url",
              "value": "={{$('Loop Videos (Batch 5)').item.json.url}}"
            },
            {
              "field": "duration_seconds",
              "value": "=0"
            },
            {
              "field": "published_date",
              "value": "={{$('Loop Videos (Batch 5)').item.json.published_date}}"
            },
            {
              "field": "thumbnail_url",
              "value": "={{$('Loop Videos (Batch 5)').item.json.thumbnail_url}}"
            },
            {
              "field": "status",
              "value": "completed"
            },
            {
              "field": "notebook_entry_url",
              "value": "={{$json.entry_url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "insert-video",
      "name": "Mark as Completed",
      "type": "n8n-nodes-base.n8nTable",
      "typeVersion": 1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "keepOnlySets": 1,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "No new videos found for any channels"
            }
          ]
        },
        "options": {}
      },
      "id": "no-videos-msg",
      "name": "No New Videos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Daily at 6:00 AM": {
      "main": [
        [
          {
            "node": "Read Active Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Active Channels": {
      "main": [
        [
          {
            "node": "Loop Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Channels": {
      "main": [
        [
          {
            "node": "Get YouTube Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube Videos": {
      "main": [
        [
          {
            "node": "Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Feed": {
      "main": [
        [
          {
            "node": "Read Processed Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Processed Videos": {
      "main": [
        [
          {
            "node": "Filter New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Videos": {
      "main": [
        [
          {
            "node": "Has New Videos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Videos?": {
      "main": [
        [
          {
            "node": "Loop Videos (Batch 5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Videos (Batch 5)": {
      "main": [
        [
          {
            "node": "Add to Open Notebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Open Notebook": {
      "main": [
        [
          {
            "node": "Mark as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Completed": {
      "main": [
        [
          {
            "node": "Loop Videos (Batch 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "youtube-automation",
      "name": "YouTube Automation"
    },
    {
      "id": "open-notebook",
      "name": "Open Notebook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-08T12:30:00.000Z",
  "versionId": "1"
}
